

<h1>Update movie Booking</h1>
  <div class="container">
    <div class="row">
        <form [formGroup]="movielist">
            <div class="mb-3">
                <label for="movieid" class="form-label">MovieId</label>
                <input
                  type="number "
                  class="form-control"
                  id="id"
                  name="id"
                  formControlName="id"
                />
        
                <div
                  *ngIf="movielist.controls['id'].errors?.['required'] && movielist.touched"
                  class="alert alert-danger"
                >
                  This field is required
                </div>
                <div
                  *ngIf="movielist.controls['id'].errors?.['pattern'] && movielist.touched"
                  class="alert alert-danger"
                >
                  number should be between 1 to 300
                </div>
              </div>
              <div class="mb-3">
                <label for="movie" class="form-label">MovieName</label>
                <input
                  type="text"
                  class="form-control"
                  name="moviename"
                  formControlName="moviename"
                />
                <div
                  *ngIf="movielist.controls['moviename'].errors?.['required'] && movielist.touched"
                  class="alert alert-danger"
                >
                  This field is required
                </div>
                <div
                  *ngIf="movielist.controls['moviename'].errors?.['pattern'] && movielist.touched"
                  class="alert alert-danger"
                >
                  Movie can have alphanumeric of maximum of 20 character
                </div>
              </div>
        
              <div class="mb-3">
                <label class="text" for="exampleCheck1">MovieDate</label>
                <input
                  type="date"
                  class="form-control"
                  formControlName="movieBookingDate"
                  name="movieBookingDate"
                />
                
              </div>
              <div class="mb-3">
                <label class="text" for="exampleCheck1" name="moviedate"
                  >noOfTicket</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="noOfTickets"
                  formControlName="noOfTickets"
                />
                
                <div
                  *ngIf="movielist.controls['noOfTickets'].errors?.['required'] && movielist.touched"
                  class="alert alert-danger"
                >
                  This field is required
                </div>
                <div
                  *ngIf="movielist.controls['noOfTickets'].errors?.['pattern'] && movielist.touched"
                  class="alert alert-danger"
                >
                  Maximum no of Tickets is 15
                </div>
              </div>
            <button type="submit" class="btn btn-primary" [disabled]="!movielist.valid" (click)="onUpdate(movielist.value)">Update MovieBooking</button>
          </form>
    </div>
  </div>
