

<h1>Update movie Booking</h1>
  <!-- <div class="container">
    <div class="row">
        <form [formGroup]="movielist">
            <div class="mb-3">
                <label for="movieid" class="form-label">MovieId</label>
                <input
                  type="number "
                  class="form-control"
                  id="id"
                  name="id"
                  formControlName="id"
                />
        
                <div
                  *ngIf="movielist.controls['id'].errors?.['required'] && movielist.touched"
                  class="alert alert-danger"
                >
                  This field is required
                </div>
                <div
                  *ngIf="movielist.controls['id'].errors?.['pattern'] && movielist.touched"
                  class="alert alert-danger"
                >
                  number should be between 1 to 300
                </div>
              </div>
              <div class="mb-3">
                <label for="movie" class="form-label">MovieName</label>
                <input
                  type="text"
                  class="form-control"
                  name="moviename"
                  formControlName="moviename"
                />
                <div
                  *ngIf="movielist.controls['moviename'].errors?.['required'] && movielist.touched"
                  class="alert alert-danger"
                >
                  This field is required
                </div>
                <div
                  *ngIf="movielist.controls['moviename'].errors?.['pattern'] && movielist.touched"
                  class="alert alert-danger"
                >
                  Movie can have alphanumeric of maximum of 20 character
                </div>
              </div>
        
              <div class="mb-3">
                <label class="text" for="exampleCheck1">MovieDate</label>
                <input
                  type="date"
                  class="form-control"
                  formControlName="movieBookingDate"
                  name="movieBookingDate"
                />
                
              </div>
              <div class="mb-3">
                <label class="text" for="exampleCheck1" name="moviedate"
                  >noOfTicket</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="noOfTickets"
                  formControlName="noOfTickets"
                />
                
                <div
                  *ngIf="movielist.controls['noOfTickets'].errors?.['required'] && movielist.touched"
                  class="alert alert-danger"
                >
                  This field is required
                </div>
                <div
                  *ngIf="movielist.controls['noOfTickets'].errors?.['pattern'] && movielist.touched"
                  class="alert alert-danger"
                >
                  Maximum no of Tickets is 15
                </div>
              </div>
            <button type="submit" class="btn btn-primary" [disabled]="!movielist.valid" (click)="onUpdate(movielist.value)">Update MovieBooking</button>
          </form>
    </div>
  </div> -->

  <br />
  <div class="container">
    <div class="row" >
      <form [formGroup]="movielist" id="f">
        <mat-form-field appearance="fill" >
          <mat-label>MovieId</mat-label>
          <input matInput formControlName="id"/>
          <mat-error *ngIf="movielist.controls['id'].errors?.['required'] ">Movieid is required</mat-error>
          <mat-error *ngIf="movielist.controls['id'].errors?.['pattern']"> Id must be between 1 to 300 </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>MovieName</mat-label>
          <input matInput formControlName="moviename"/>
          <mat-error *ngIf="movielist.controls['moviename'].errors?.['required'] ">This field is required</mat-error>
          <mat-error *ngIf="movielist.controls['moviename'].hasError('maxlength')">Movie can have alphanumeric of maximum of 20 character</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="movieBookingDate" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="movielist.controls['moviename'].errors?.['required'] ">This field is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>No Of Tickets</mat-label>
          <input matInput type="text" formControlName="noOfTickets"/>
          <mat-error *ngIf="movielist.controls['noOfTickets'].errors?.['required']">This field is required</mat-error>
          <mat-error *ngIf="movielist.controls['noOfTickets'].errors?.['pattern']">Maximum no of Tickets is 15</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!movielist.valid" (click)="onUpdate(movielist.value)">Add Movie</button>
      </form>
    </div>
  </div>
  