
<br>
<mat-card>
  <mat-card-content>

    <div class="container" id="contain">
      <div class="row">
        <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">MovieId</th>
          <th scope="col">MovieName</th>
          <th scope="col">MovieDate</th>
          <th scope="col">No of Tickets</th>
          <th scope="col">Total Amount</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of list">
          <td>{{ m.id }}</td>
          <td>{{ m.moviename }}</td>
          <td>{{ m.movieBookingDate.toString().slice(0,10) }}</td>
          <td>{{ m.noOfTickets }}</td>
          <td>{{m.noOfTickets*35}}</td>
          <td><Button class="btn btn-primary" (click)="onupdate()">Update</Button></td>
          <td><Button class="btn btn-dark" (click)="ondelete(m.id)">Delete</Button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</mat-card-content>

</mat-card>